.app-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(68, 68, 68);
    line-height: 1.5;
}