.card {
    height: 320px;
    width: 211px;
    padding: 44.5px 24px;
    background: #ffffff;
    box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.25), 0 2px 4px -2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 136px;
    height: 109px;
    display: flex;
    margin: auto;
}

.card-title {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
    margin: 4px 0 0 0;
    color: var(--card-description-color);
    font-weight: 200;
}

.card-button {
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    margin-top: 17px;
    border: none;
    text-align: left;
    outline: none;
}

.card-btn-light {
    background-color: var(--button-bg-color);
}

.card-btn-dark {
    background-color: var(--card-bg-color);
}

.text-content {
    margin-top: 44.5px;
    margin-bottom: 20px;
}

.card-text-light {
    font-size: 20px;
    margin-top: 0px;
}

.card-text-dark {
    font-size: 20px;
    margin-top: 0px;
    color: var(--card-description-color);
}

.card-dark {
    background: var(--card-bg-color);
    color: var(--card-title-color);
}

.card-light {
    background: var(--card-bg-color);
    color: var(--card-title-color);
}

.card-btn-dark {
    color: var(--button-text-color);
}

.card-btn-light {
    color: var(--button-text-color);
}

.body-dark {
    background-color: var(--background);
}

.body-light {
    background-color: var(--background);
}

@media (max-width: 320px) {
    .card {
        width: 100%;
        max-width: 200px;
        height: auto;
        height: 300px;
        min-height: 180px;
    }
}