* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.card {
    height: 320px;
    width: 211px;
    padding: 44.5px 24px;
    background: #ffffff;
    box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.25), 0 2px 4px -2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 136px;
    height: 109px;
    display: flex;
    margin: auto;
}

.card-title {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
    margin: 4px 0 0 0;
    color: #0000009e;
    font-weight: 200;
}

.card-button {
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    margin-top: 17px;    
}

.text-content {
    margin-top: 44.5px;
    margin-bottom: 20px;
}

.card-text-light {
    font-size: 20px;
    margin-top: 0px;
}

.card-text-dark {
    font-size: 20px;
    margin-top: 0px;
    color: #4700b8b2;
}

.card-dark {
    background: #D2BD00;
    color: #4700B8DE;
}

.card-light {
    background: #FFFFFF;
    color: #000000;
}

.card-btn-dark {
    color: #FFFFFF;

}

.card-btn-light {
    color: #3870C9;
}

@media (max-width: 320px) {
    .card {
        width: 100%;
        max-width: 200px;
        height: auto;
        height: 300px;
        min-height: 180px;
    }
}