.simple-cards {
    border: solid 1px #ffffff;
    margin: 30px;
}

.simple-card-numbered-safety,
.simple-card-bulleted-safety {
    padding-bottom: 10px;
    padding-left: 30px;
}

.simple-card-bulleted-safety {
    list-style: disc;
}

.simple-card-numbered-safety {
    list-style: decimal;
}

.list-no-style {
    list-style: none;
    padding-left: 0;
}

.list-no-style li {
    padding-bottom: 20px;
}

.list-no-style li:first-child {
    padding-top: 10px;
}

.list-no-style li:last-child {
    padding-bottom: 0;
}