.fire-cards {
  box-sizing: border-box;
}

.fire-cards-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.fire-cards-text {
  font-size: 16px;
  line-height: 1.5;
}

.fire-cards-list {
  padding-left: 20px;
}

.fire-cards-list li {
  margin-bottom: 8px;
}

.card {
  margin-bottom: 20px;
}
